[flake8]
show-source = True
count = True
statistics = True
max-complexity = 10
hang-closing = False
max-line-length = 88
extend-select =
    B950

extend-ignore =
    E203
    E501

extend-exclude =
    .git
    __pycache__
    build
    dist
    docs
    notebooks
    scripts
    results
    timeeval/algorithms
    timeeval_experiments/20*.py
    example-experiment.py


per-file-ignores =
    __init__.py: F401
